
.header{                                              /*header*/
    display:inline-block;
    width: 100%;
    height: auto;
    padding: 10px 10px 10px 10px;
    background-color:#275D8C;
    
}
.header .logo_text{
    width: 50%;
    float: left;
    height: 200px;
}
.header .logo_text h1{
   color: #FA5E00;
}
.header .logo_text span{
    float: left;
    display: block;
    color: #fff;
    margin-top: 4%;
    font-style: italic;
}
.header .logo{
    width: 50%;
    float: right;
    height: 200px;
    background-image: url(img/web.png);
    background-size: cover;
    text-align: center;
    background-position-y: 40%;
}
.header .logo span{
    font-size: 36px;
     font-size: 36px;
    color: #fff;
    margin-top: 20%;
    font-weight: bolder;
    margin: 28% 40% 40% 40%;
    display: block;
    
}
.header .navbar-inverse{
    background-color: #192952;
    z-index: 100;
}
.header .menu{
    display: block;
    width: 100%;
    text-align: left;
}
.header .menu li{
    float: left;
    display: block;
}
.header .menu li p{
    color: #FA5E00;
    font-size: 24px;
    margin-right: 10px;
    font-family: 'Oswald', sans-serif;
    margin: 4px 10% 0px 0px;
    border-bottom: 2px solid #FA5E00;

}


.header .menu li a{
    color: #fff;
    font-size: 15px;
    display: block;
    margin-right: 15px;
    border-bottom: 2px solid #275D8C;
    padding: 10px 15px;
    font-family: 'Oswald', sans-serif;
    
}.header .menu li a:hover{
    color: #FA5E00;
    font-size: 15px;
    display: block;
    margin-right: 15px;
    border-bottom: 2px solid #FA5E00;
    padding: 10px 15px;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    
}
.menu .cart_p{
    display: inline-block;
    float: right;
    border: 2px solid #FA5E00;
    padding: 10px;
    color: #fff;
}
.menu .cart_p a{
    color:  #FA5E00;
}
.menu .cart_p a:hover{
    color:  #fff;
}

                                               /*content*/


.bat{
    color: aqua;
}
.content{
    background-color: #fff;
    width: 100%;
    height: auto;
    padding: 0px 0px 0px 0px;
}
.blck_item label{
    width: 30%;
    font-size: 1em;
    color: #275D8C;
}

.block_grid{
    display: block;
    float: left;
    margin-right: 15px;
    border:1px solid #275D8C;
    border-radius: 5px;
    padding: 10px;
    width: 20%;
}

.product_view{
    display: inline-block;
    float: left;
    border: 1px solid #0b4075;
}

.block_grid h3{
   font-weight: 200;
    color: #FA5E00;
    border-bottom: 1px solid  #FA5E00;
}
.block_grid p{
    color: #555;
}
.block_grid span{
   font-weight: 400;
    color: #3d9b44;
}
.block_grid a{
    color: #35db42;
    padding: 10px 15px;
    border: 1px solid #35db42;
    display: block;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 100%;
    float: left;
}
.block_grid a:hover{
    color: #4a59c6;
    padding: 10px 15px;
    border: 1px solid #4a59c6;
}


.blck_item .calc{
    background-color: rgba(39, 93, 140, 0.25);
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
}
.blck_item input{
    margin-left: 40px;
    position: absolute;
}
.blck_item select {
    margin-left: 40px;
    position: absolute;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    display: inline;
    width: 28%;
    height: 28px;
    padding: 0px 0px;
}
.form_grid{
    float: left;
    margin-right: 40px;
}

 .table-responsive .table #table_header{
    color: #275D8C;
    font-size: 20px;
    background-color: #f2af87;
}

#next{
    color: #FA5E00;
    position: absolute;
    display: initial;
    right: -29px;
    font-size: 20px;
    top: inherit;
    bottom: 22px;
}
.blck_item .btn{
    font-size: 1em;
    margin: 17px;
    clear: left;
    margin-left: 0px;
    color: #fff;
    font-family: 'PT Sans Narrow', sans-serif;
    
}
.blck_item .calc .btn{
    font-size: 1em;
    margin: 17px;
    clear: left;
    color: #fff;
    font-family: 'PT Sans Narrow', sans-serif;
    display: inline-block;
}
.blck_item .btn:hover{
    color: #FA5E00;
}

.blck_item .btn span{
     color: #fff;
     font-size: 15px;
     position: inherit;
     margin-right: 5px;
}
.blck_item .btn:hover span{
    color: #FA5E00;
}

.content h1{
    color:#FA5E00;
    font-family: 'Oswald', sans-serif;
    
}
.content h2{
    color: #FA5E00;
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 5%;
    margin-top: 5%;
    text-align:left;
    display: block;
}
.content .caption h3{
    color:#FA5E00;
    font-size: 1.1em;
    font-family: 'Oswald', sans-serif;
    
}
.content .caption p{
    padding: 0px;
    margin: 0px;
    
}
.content .caption .btn{
    padding: 5px 15px;
    display: block;
    background-position: 0px -1px;
    float: none;
    margin: 5px 1px 1px 1px;
    font-size: 1em;
    color: #fff;

}
.content .caption span{
    color: #fff;
}
.content .caption .btn:hover{
    color: #FA5E00;
}
.content .caption .btn:hover span{
    color: #FA5E00;
}
.content p{
    
    padding: 10px 30px;
}
.vid_1{
    float: left;
}
.tab-pane h4{
    display: block;
}
.tab_vid_1 SPAN{
    color:#275D8C;
    position: inherit;
    top: 0;
    right: 0;
    font-size: 1em;
}
.tab-pane img{
    display: inline-block;    
   
}
.tab-pane p{
    display: inline-block;
    float: left;
    color: #555;
}
.embed-responsive-16by9{
    padding-bottom: 75.25%;
}

.prod_item{
    float: left;
    border: 1px solid #57B257;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}
.prod_item h3{
    color: #FA5E00; 
    font-weight: 300;
    text-align: center;
}
.prod_item p{
    color: #428942; 
    float: left;
    margin: 0px 5px;
    padding: 0;
    font-size: 17px;
}
.prod_item span{
    color: #0b4075; 
    float: left;
    margin: 0px 5px;
    padding: 0;
    position: inherit;
    display: inherit;
    font-size: 17px;
}
.prod_item i{
    color: #fa3939; 
    float: left;
    margin: 0px 5px;
    padding: 0;
    position: inherit;
    display: inherit;
    font-size: 17px;
}
.prod_item b{
    color: #fa3939; 
    text-align: center;
    margin: 0px 5px;
    position: inherit;
    display: block;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
                                                            /*contacts*/ 
.item_contact{
    clear: both;
    margin-bottom: 25px;
    display: flex;
}
.contact_city h3{
    color: #275D8C;
    border-bottom: 2px dashed #275D8C;
    margin-bottom: 25px;
    padding-bottom: 7px;
    display: inline-block;
     font-family: 'Oswald', sans-serif;
}
.item_contact span{
    display: block;
    float: left;
    position: inherit;
    margin-right: 15px;
    margin-bottom: 0px;
    font-size: 1.1em;
    color: #333333;
}
.item_contact .contact_icon span{
    display: block;
    float: left;
    position: inherit;
    margin-right: 15px;
    margin-bottom: 0px;
    font-size: 1.2em;
    color: #275D8C;
}
.contact_label{
    display: block;
    padding-left: 0px;
    padding-right: 7%;
}
                                                           /*footer*/
.tab_vid_1{
    padding: 0 10%;
}   
.paginat{
    text-align: center;
}
.footer{
    display:inline-block;
    width: 100%;
    height: auto;
    padding: 10px 10px 10px 10px;
    background-color: #275D8C;
    position: absolute;
    bottom: 1px;
}
.footer img{
   width: 7%;
   height: auto;
   float: left;
}
.footer h3{
   color: #fff;
    display: block;
    font-size: 15px;
    margin-top: 1%;
    font-family: 'Oswald', sans-serif;
}
.footer h2{
   color: #FA5E00;
    float: right;
    display: block;
    font-size: 15px;
    margin-top: 1%;
    font-family: 'Oswald', sans-serif;
}
                                                    /* form КОНТАКТЫ */
form .row {
    display: block;
    padding: 7px 8px;
    margin-bottom: 7px;
    margin-left: 10px;
}
form .row:hover {
    background: #f1f7fa;
}

form label {
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    width: 18%;
    padding: 6px 0;
    color: #464646;
    vertical-align: top;
}
form .req {
    color: #ca5354;
}

form .note {
    font-size: 1.2em;
    line-height: 1.33em;
    font-weight: normal;
    padding: 2px 7px;
    margin-bottom: 10px;
}